::ng-deep .from-websocket {
  font-weight: bolder;
  animation: fadeInHighlight 1s ease-in-out;
}

@keyframes fadeInHighlight {
  0% {
    background-color: #e0ffe0;
    alpha: 0.0;
    opacity: 0.0;
  }

  100% {
    background-color: transparent;
    alpha: 1.0;
    opacity: 1.0;
  }
}

::ng-deep .ws-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00cc66;
  box-shadow: 0 0 4px rgba(0, 255, 100, 0.7);
}

::ng-deep .hidden-header {
  display: none;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.search-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.4);
}

::ng-deep .filters {
  display: flex;
  flex-wrap: nowrap;
  align-items: top;
  gap: 1rem;
  margin-bottom: 1rem;

  input[type="text"],
  input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    box-sizing: border-box;
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    height: 40px;
  }

  ::ng-deep .pagination-controls {
    flex: 0 0 auto;
  }

  .pagination-controls select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  ::ng-deep .datatable-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
  }
}

.websocket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.websocket-loading {
  background-color: #cff4ff;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 5px;
}

.search-btn {
  height: 40px;
  border-radius: 4px;
  background-color: rgb(0, 82, 136);
  color: white;
}