<div class="dropdown-container">
  <button class="dropdown-button" (click)="toggle()">
    <span class="text">{{ selectedRange.replaceAll('_', ' ') }}</span>
    <span class="arrow">▼</span>
  </button>

  @if(open) {
    <div #dropdownPanel class="dropdown-panel">
      <ul class="dropdown-list">
        @for(range of (DateRangeType | keyvalue); track range) {
          <li tabindex="0" role="button" (click)="selectRange(range.value)" (keydown.enter)="selectRange(range.value)" (keydown.space)="selectRange(range.value)" [class.selected]="selectedRange === range.value">
            {{ range.value.replaceAll('_', ' ') }}
          </li>
        }
      </ul>

      @if(selectedRange === DateRangeType.CUSTOM) {
        <div class="custom-dates">
          <label>
            From:
            <input type="datetime-local" [(ngModel)]="startDate" (change)="onDateChanged()" />
          </label>
          <br/>
          <label>
            To:
            <input type="datetime-local" [(ngModel)]="endDate" (change)="onDateChanged()" />
          </label>
        </div>
      }
    </div>
  }
</div>