name: Build Android/Kotlin Library

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: "Default version to use when preparing a release."
        required: true
        default: "X.Y.Z"
      developmentVersion:
        description: "Default version to use for new local working copy."
        required: true
        default: "X.Y.Z-SNAPSHOT"
  #push:
  #  tags:
  #    - 'v*.*.*'
  #  branches:
  #    - main
  #pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25 for Server (Maven)
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 25

      - name: Build server module (Maven)
        run: mvn clean install -DskipTests -Ponly-common
        working-directory: server
      - name: Check Maven local path
        run: echo $HOME/.m2/repository
      - name: Set up JDK 17 for Client (Gradle)
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradlew
        run: chmod +x ./gradlew
        working-directory: client

      - name: Set releaseVersion
        run: |
          sed -i 's/^[[:space:]]*version *= *".*"/version = "${{ github.event.inputs.releaseVersion }}"/' ./client/easylog-client/build.gradle.kts
      - name: Build library (Gradle)
        run: ./gradlew :easylog-client:clean :easylog-client:build
        working-directory: client
      - name: Create and push tag
        run: |
          git config --global user.name ${{ secrets.GH_USERNAME }}
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git tag android-client-${{ github.event.inputs.releaseVersion }}
          git push origin android-client-${{ github.event.inputs.releaseVersion }}
      - name: Set developmentVersion
        run: |
          sed -i 's/^[[:space:]]*version *= *".*"/version = "${{ github.event.inputs.developmentVersion }}"/' ./client/easylog-client/build.gradle.kts
      - name: Trigger JitPack build
        run: |
          curl -X GET https://jitpack.io/com/github/peter-szrnka/easylog/android-client-${{ github.event.inputs.releaseVersion }}/build.log
      - name: Commit version change to ${{ github.event.inputs.developmentVersion }}
        run: |
          git config --global user.name ${{ secrets.GH_USERNAME }}
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git add ./client/easylog-client/build.gradle.kts
          git commit -am "[ci-skip] Version updated to ${{ github.event.inputs.developmentVersion }}" || echo "No changes to commit"
          git push
