name: Build Android/Kotlin Library

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 25

      - name: Grant execute permission for Gradlew
        run: chmod +x ./gradlew
        working-directory: client

      #  Build server module WITHOUT tests, publish to mavenLocal
      - name: Build server module (Maven)
        run: mvn clean install -DskipTests
        working-directory: server

      - name: Build library
        run: ./gradlew :easylog-client:clean :easylog-client:build
        working-directory: client
