name: Build Android/Kotlin Library

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: "Default version to use when preparing a release."
        required: true
        default: "X.Y.Z"
      developmentVersion:
        description: "Default version to use for new local working copy."
        required: true
        default: "X.Y.Z-SNAPSHOT"
  #push:
  #  tags:
  #    - 'v*.*.*'
  #  branches:
  #    - main
  #pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25 for Server (Maven)
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 25

      - name: Build server module (Maven)
        run: mvn clean install -DskipTests -Ponly-common
        working-directory: server

      - name: Set up JDK 17 for Client (Gradle)
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradlew
        run: chmod +x ./gradlew
        working-directory: client

      - name: Set releaseVersion
        run: |
          sed -i "s/^version = .*/version = '${{ github.event.inputs.releaseVersion }}'/" ./client/easylog-client/build.gradle.kts
      - name: Build library (Gradle)
        run: ./gradlew :easylog-client:clean :easylog-client:build
        working-directory: client
      - name: Create and push tag
        run: |
          git config --global user.name ${{ secrets.GH_USERNAME }}
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git tag ${{ github.event.inputs.releaseVersion }}
          git push origin ${{ github.event.inputs.releaseVersion }}
      - name: Set developmentVersion
        run: |
          sed -i "s/^version = .*/version = '${{ github.event.inputs.developmentVersion }}'/" ./client/easylog-client/build.gradle.kts
      - name: Commit version change
        run: |
          git config --global user.name ${{ secrets.GH_USERNAME }}
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git commit -am "[ci-skip] Version updated to ${{ github.event.inputs.releaseVersion }}"
          git push
